<div class="landing-block">
  <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <label for="emailInput"
      >Inscrivez-vous pour recevoir notre newsletter !
    </label>
    <input
      type="email"
      name="userEmail"
      id="emailInput"
      [(ngModel)]="userEmail"
    />
    <button>OK</button>
  </form>
  <img src="assets/snapface.jpg" alt="Snapface logo" />
  <div class="landing-links">
    <button (click)="(onContinue)" routerLink="facesnaps">
      Continuer vers Snapface
    </button>
  </div>
</div>
